<div class="container-fluid text-center pt-5 pb-5">
    <div class="pt-5 pb-5">

        <img src="../assets/drawable/master_mind_logo.svg" class="img-fluid mx-auto d-block  pt-5 pb-5" alt="Master Mind">
        <div class="container-fluid pt-5 pb-5">
            <div class="pt-5 pb-5">
                <!-- <button type="button" class="btn btn-outline-dark menu-button" routerLink="/play">NEW GAME</button> -->
                <button type="button" class="btn btn-outline-dark menu-button" (click)="newGame()">NEW GAME</button>
            </div>

            <div class="pt-5 pb-5">
                <button type="button" class="btn btn-outline-dark menu-button">OPEN GAME</button>
            </div>
        </div>

    </div>
</div>