
  <div class="d-grid gap-5 mx-auto">
  <img src="../assets/drawable/master_mind_logo.svg" class="img-fluid mx-auto d-block" alt="Master Mind">
  <div class="d-grid gap-5 col-2 mx-auto">
    <button type="button" class="btn btn-outline-dark">NEW GAME</button>
    <button type="button" class="btn btn-outline-dark">OPEN GAME</button>
  </div>

<div class="container-fluid">
  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th>Firt Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Sales Volume</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Paco</td>
        <td>Morando</td>
        <td>PacoMorando@mail</td>
        <td>1000</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Pudin</td>
        <td>Martinez</td>
        <td>pudini@mail</td>
        <td>1000</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Nata</td>
        <td>Martinez</td>
        <td>natita@mail</td>
        <td>1000</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Ana</td>
        <td>Casucci</td>
        <td>McAna@mail</td>
        <td>2000</td>
      </tr>
    </tbody>

  </table>
</div>
</div>
