<div class="container-fluid text-center bg-info ">
   
        <h1 class="game-over pt-5 pb-5">
            Game Over
        </h1>
        <div class="pt-5 pb-5  text-center ">
            <div class="row mx-auto">
                <button type="button" class="btn btn-outline-dark menu-button">CONTINUE</button>
            </div>
            <div class="row mx-auto">
                <button type="button" class="btn btn-outline-dark menu-button">EXIT</button>
            </div>
        </div>
        
         <!-- <div class="d-grid gap-2 col-1 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-primary" type="button">Button</button>
          </div> -->
</div>