<div class="container-fluid text-center pt-5 pb-5">
    <div class="pt-5 pb-5">

        <h1 class="game-over pt-5 pb-5">
            Game Over
        </h1>
        <div class="container-fluid pt-5 pb-5">
            <div class="pt-5 pb-5">
                <button type="button" class="btn btn-outline-dark menu-button" (click)="continue()">CONTINUE</button>
            </div>

            <div class="pt-5 pb-5">
                <button type="button" class="btn btn-outline-dark menu-button">EXIT</button>
            </div>
        </div>

    </div>
</div>