<div class="container-fluid text-center pt-4 pb-4" style="min-width: 360px; max-width: 550px; ">
    <div class="table-responsive mx-5 board-div">
        <div class="row mx-auto py-2" style="border-bottom: 2px solid black;">
            <div class="mx-auto token-secret"></div>
            <div class="mx-auto token-secret"></div>
            <div class="mx-auto token-secret"></div>
            <div class="mx-auto token-secret"></div>
            <button type="button" class="btn-close" aria-label="Close" style="width: 40px;"></button>
        </div>
        <table class="table table-borderless" style="margin-bottom: 0;">
            <tbody *ngFor="let proposedCombinatio of proposedCombinations">
                <tr>
                    <td class="align-middle" *ngFor="let color of colorsProposed" style="max-width: 30px;">
                        <div>
                            <div class="mx-auto token-empty"></div>
                        </div>
                    </td>
                    <td style="width: 50px;">
                        <div style="display: flex; align-items: center; justify-content: center; height: 15px;">
                            <div class="token-res-empty mx-auto"></div>
                            <div class="token-res-empty mx-auto"></div>
                        </div>
                        <div style="display: flex; align-items: center; justify-content: center; height: 15px;">
                            <div class="token-res-empty mx-auto"></div>
                            <div class="token-res-empty mx-auto"></div>
                        </div>
                </tr>
            </tbody>
        </table>
        <div class="text-center mx-auto p-2" style="border-top: 2px solid black;">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-dark btn-sm">
                    <img src="../assets/drawable/undo.svg" class="img-fluid mx-auto d-block p-1" alt="undo">
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm">
                    <img src="../assets/drawable/redo.svg" class="img-fluid mx-auto d-block p-1" alt="redo">
                </button>
            </div>
        </div>
    </div>
    <div class="row mx-auto py-2">
        <div class="col">
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-up.svg" alt="Icon">
            </button>
            <div class="mx-auto token-select"></div>
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-down.svg" alt="Icon">
            </button>
        </div>
        <div class="col">
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-up.svg" alt="Icon">
            </button>
            <div class="mx-auto token-select"></div>
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-down.svg" alt="Icon">
            </button>
        </div>
        <div class="col">
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-up.svg" alt="Icon">
            </button>
            <div class="mx-auto token-select"></div>
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-down.svg" alt="Icon">
            </button>
        </div>
        <div class="col">
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-up.svg" alt="Icon">
            </button>
            <div class="mx-auto token-select"></div>
            <button class="icon-button p-1">
                <img src="../assets/drawable/chevron-down.svg" alt="Icon">
            </button>
        </div>
        <div class="col align-self-center">
            <button type="button" class="send-button p-1">
                <img src="../assets/drawable/paper-airplane.svg" alt="Icon">
            </button>
        </div>
       
    </div>
</div>