<div class="container text-center pt-5 pb-5">
    <div class="table-responsive mx-5 board-div">
        <div style="border-bottom: 2px solid black;">SECRET COMIBINATION</div>
        <table class="table table-borderless">
            <tbody *ngFor="let proposedCombinatio of proposedCombinations">
                <tr>
                    <td class="align-middle" *ngFor="let color of colorsProposed" style="max-width: 30px;">
                        <!-- {{color}} -->
                        <div>
                            <div class="mx-auto token-empty"></div>
                        </div>
                    </td>
                    <td style="max-width: 30px;">: :</td>
                </tr>
            </tbody>
        </table>
        <div style="border-top: 2px solid black;">UNDO REDO</div>
    </div>
</div>