<div class="container-fluid text-center pt-5 pb-5">
    <div class="pt-5 pb-5">
        <h1 class="pt-5 pb-4" style="font-family: bloo2;">Save Game</h1>
        <div class="offset-sm-3 col-sm-6 ps-5 pe-5 pb-2">
            <input id="gameName" class="form-control form-control-lg " type="text" placeholder="Set a name"
                aria-label=".form-control-lg example" [(ngModel)]="nameGame" maxlength="20">
        </div>
        <div class="offset-sm-3 col-sm-6 ps-5 pe-5 text-end">
            <button type="submit" class="btn save-button" (click)="saveGame()">CANCEL</button>
            <button type="button" class="btn save-button" (click)="saveGame()">SAVE</button>
        </div>
        <div *ngIf="isNameEmpty" class="text-danger">Asigna una nombre a la partida</div>
        <div *ngIf="isNameExist" class="text-danger">Ya existe una partida con ese nombre, elige otro</div>
    </div>
</div>