@font-face {
  font-family: 'dyna-semi';
  src: url(".\assets\fonts\dyna_puff_semi_condensed_regular.ttf");
}

@font-face {
  font-family: 'bloo2';
  src: url(".\assets\fonts\baloo2_semi_bold.ttf");
}

.menu-button {
  font-family: 'bloo2', sans-serif;
  border-width: 3px;
  min-width: 120px;
}

.game-over {
  font-family: 'dyna-semi', sans-serif;
  text-align: center;
  font-size: 15vmin;
  white-space: nowrap;
}


/*  Token Colors */
.r {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #D72D3E;
}

.g {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #5C9325;
}

.b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #47469B;
}

.c {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #259FA7;
}

.y {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #BB8E11;
}

.m {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #DB66C6;
}

.e {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

/* Token Results  */

.k {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.w {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid black;
}

.f {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
}